<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="new_route.css">

        <title></title>
    </head>

    <body>
  

    <section>
    <h1 class="index_title">Add a new route!</h1>
	<%= form_for @route do |f| %>
	 <%= f.label :route_name %>
	 <%= f.text_field :route_name %>
	 <br>
	 <%= f.label :route_country %>
	 <%= f.text_field :route_country %>
	 <br>
	 <%= f.label :route_description %>
	 <%= f.text_field :route_description %>
	 <br>
	 <%= f.label :route_date %>
	 <%= f.date_select :route_date, :order =>[:day, :month, :year] %>
	  <br>
	 <%= f.label :route_photo %>
	 <%= f.text_field :route_photo %>

	 <%= f.submit 'Save' %>

	<p><%= link_to('Show me this route', routes_path)%></p>
	<% end %>
	</section>
    <script type="text/javascript" src=""></script>
    </body>
</html>