<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="new_route.css">

        <title></title>
    </head>

    <body>
  <h1 class="index_title">ADD NEW ROUTE</h1>
	<div class="container">
    	<div class="row">

     <div class="col-md-4 col-sm-5 col-xs-12">
    <br><br>
    <section id="add_new">
	<%= form_for @route do |f| %>
	 <%= f.label :route_name %>
	 <%= f.text_field :route_name %>
	 <br>
	 <%= f.label :route_country %>
	 <%= f.text_field :route_country %>
	 <br>
	 <%= f.label :route_description %>
	 <%= f.text_field :route_description %>
	 <br>
	 <%= f.label :route_date %>
	 <%= f.date_select :route_date, :order =>[:day, :month, :year] %>
	  <br>
	 <%= f.label :route_photo %>
	 <%= f.text_field :route_photo %>

	 <%= f.submit 'Save' %>

 	

	<p><%= link_to('Back', routes_path)%></p>
	<% end %>
	</section>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12">
<a href="https://www.flickr.com/photos/131572591@N08/16377071184" title="461231_3660924435700_1468482186_o by Elena Lázaro, en Flickr"><img src="https://c1.staticflickr.com/9/8707/16377071184_8a0d63b4ba_b.jpg" width="650" height="385" alt="461231_3660924435700_1468482186_o"></a>
</div>
 </div>
    	</div>

    <script type="text/javascript" src=""></script>
    </body>
</html>