<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="home.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <title></title>
    </head>


    <body>

       <h1  class="index_title"> LATEST ROUTES </h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
     <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

  <div class="item active">
       <div class="container">
        <div class="row">

      

         <div class="col-md-2 col-sm-10 col-xs-2">
      <img class="photo_car" src= "http://global-gallivanting.com/wp-content/uploads/2014/03/backpackersit.jpg">
      
      </div>


      <div class="col-md-10 col-sm-2 col-xs-2, discover">
       
        <p>DO YOU WANT</p> <p>TO DISCOVER </p> NEW PLACES?</p>
      </div>

          </div>
            </div>
    
    </div>

     <% @last_routes.each do |route| %>
    <div class="item ">
       <div class="container">
        <div class="row">

         <div class="col-md-8 col-sm-10 col-xs-2">
       <img class="photo_car" src=  <%=route.route_photo%>  >
     
        </div>

      
  <br><br>
         <div class="col-md-3 col-sm-2 col-xs-2, descrip">
     <h3><%= link_to(route.route_name,route_points_path(route)) %> </h3>
        <p><%=route.route_country%> </p>
       <%=route.route_description%>
        </div>

          </div>
            </div>
      </div>
  
    <%end%>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


      
<section>
    	

 

   <br>
  <!--<div class="container">
        <div class="row">

   <% @last_routes.each do |route| %>

   <div class="col-md-5">
  
    <div id="routes"><span id="route_name"><strong><%= link_to(route.route_country,route_points_path(route)) %></strong></span>

     <p><%= link_to(route.route_name,route_points_path(route)) %>  </p>
     
   <img class="photo" src=  <%=route.route_photo%>  height="250" width="350"></a>
      <p><%= route.route_description%></p>
      <p><%= route.route_date %></p>
      
      <%= link_to 'Destroy',route_path(route), method: :delete, data: {confim: "Are you sure?"} %></div>
    
    <br><br>
   
    </div>

    <% end %>

    </div>
      </div>

  

  <br><br><br>



  

    <div id="more_routes"><%= link_to('Discover more and more routes by country', routes_path)%></div>

    <script type="text/javascript" src="routes.js"></script>
  </section>
    </body>
</html>
-->