<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="index.css">

        <title></title>
    </head>

    <body>

	

	<h1  class="index_title"> ROUTES BY COUNTRY</h1>
	<br>

	<!-- Large button group -->
	<div class="btn-group">
	  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Most famous countries <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
		<li><a href="#">China</a></li>
	    <li><a href="#">Japan</a></li>
	    <li><a href="#">Cuba</a></li>
	  </ul>
	</div>
	<br><br>


	<section>
	<% @last_routes.each do |route| %>

		
		<div id="routes"><span id="route_name"><strong> <%= link_to(route.route_name,route_points_path(route)) %>  </strong></span><br>
			<span class="country"><%= link_to(route.route_country,route_points_path(route)) %> </span>

			<br><br>
			

			  <div class="container">
       		 <div class="row">

  			<div class="col-md-5  col-sm-7 col-xs-4">
			<p><img class="photo" src=  <%=route.route_photo%>  height="250" width="370"></p>
			</div>

	

			<div class="col-md-6 col-sm-4 col-xs-12">
			<br>
			<p><span class="dark_letter"></span><%= route.route_initial_date%>
			<span class="dark_letter">- </span><%= route.route_end_date%></p>
			<p><span class="dark_letter">Description: </span><%= route.route_description%></p>
			<br><br><br><br>
			<%= link_to('Comments of the route', route_comments_path(route))%> &nbsp;&nbsp;&nbsp;
			<%= link_to 'Destroy',route_path(route), method: :delete, data: {confim: "Are you sure?"} %></div>
			</div>

			</div>
			</div>
			
			
		
			<hr>
			<br>
	
	<% end %>



	

	


    <script type="text/javascript" src=""></script>
</section>
    </body>
</html>