<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="index.css">

        <title></title>
    </head>

    <body>

	

	<h1  class="index_title"> ROUTES BY COUNTRY</h1>
	<br>
	<section>
	<% @last_routes.each do |route| %>

		
		<div id="routes"><span id="route_name"><strong> <%= link_to(route.route_name,route_points_path(route)) %>  </strong></span>
			- <%= link_to(route.route_country,route_points_path(route)) %> 
			<p><%= route.route_description%></p>
			Date:<p><%= route.route_date%></p>
			<p><img class="photo" src=  <%=route.route_photo%>  height="300" width="400"></p>
			
			<%= link_to 'Destroy',route_path(route), method: :delete, data: {confim: "Are you sure?"} %></div>
		
			<hr>
	
	<% end %>



	

	<%= link_to('Add new route', new_route_path)%>
	<%= link_to('Home', root_path)%>


    <script type="text/javascript" src=""></script>
</section>
    </body>
</html>