<!DOCTYPE html>
<html>
<head>
   
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<style type="text/css" media="screen">
A:link {color: grey;text-decoration: none }
A:hover {color: grey;  text-decoration: none }
A:visited {color: black;text-decoration: none }
</style>


</head>
<body>
	<header>

		
		<a class="title" href="http://localhost:3000"><h1 id="page_name">Routers</h1></a>


		
    <a class="title" href="http://localhost:3000"><p id="page_subtitle">Show your routes in a map.</p></a>


        </a>
     </header>

<span class="nav">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="http://localhost:3000/routes">Routes by country<span class="sr-only">(current)</span></a></li>
        <li><a href="http://localhost:3000/routes/new">Add new route</a></li>
         <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
       <div id="search_box", ><%= form_tag search_routes_path, :method => 'get' do %>
  
    <%= text_field_tag :route_country,   params[:route_country]%>
    <%= submit_tag "Search", :name => nil %>
    </span>
    <% end %></div>
     
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<%= yield %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
